#thirdDiv {
    background-color: blue;
    height: 600px;
    width: 400px ;
    padding: 50px;
    
    border : 10px black solid;
}

.divClass {

background-color: beige;
}

#spanId {
    margin: 50px;
    font-size: 18px;
}
img {
    height: 200px;
    width: 400px ;
 }
 h1 {
     color: orangered;
 }